extends layout.pug

block title
    <title>#{title}</title>

block content
    div.vh-100.d-flex.justify-content-center.align-items-center(style="margin-top: -60px")
        div.col-4.m-auto
            form(id='signInForm')
                h1.h3.mb-4.fw-normal 
                    | Sign in
                .form-floating.mb-2
                    input(id="login" name='login' type='text' class='form-control')
                    label(for="login") Login
                .form-floating.mb-2
                    input(id="password" name='password'  type='password' class='form-control')
                    label(for="password") Password
                button(type='submit' class='btn btn-primary w-100 py-2') Submit

block js_page 
    script(type='text/javascript', src='/static/auth.js')


