doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='')

        //- bootstrap
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css'
            crossorigin='anonymous')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

        //- title
        block title

    body
        .container.z-1
            .row.d-block.z-10
                .col.d-flex.justify-content-between.py-2
                    ul.nav.nav-underline
                        li.nav-item
                            a(href='/courses', class=(page === 'courses' ? 'nav-link active':'nav-link')) Courses
                        li.nav-item
                            a(href='/about', class=(page === 'about' ? 'nav-link active':'nav-link')) About
                    ul.nav.nav-underline
                        li.nav-item
                            a(href='/auth', class=(page === 'auth' ? 'nav-link active':'nav-link')) Sign in
            .row.d-block.z-0
                .col
                    block content

        .z-10
            <div class="modal fade" id="systemMessage" aria-hidden="true" aria-labelledby="systemMessageToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="systemMessageToggleLabel">Системное сообщение</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div id="systemMessageText" class="modal-body">System message</div>
                    </div>
                </div>
            </div>

        script(
            type='text/javascript',
            async=true,
            src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.esm.min.js',
            crossorigin="anonymous"
        )

        script(
            type='text/javascript',
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js",
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF",
            crossorigin="anonymous"
        )

        script(type='text/javascript', src='/static/common.js')

        block js_page

